.hero {
    background: #fffaf6;
    padding: 26px 0 77px;
    min-height: 100vh;
}

.hero-top {
    justify-content: space-between;
}

.nav__list {
    display: flex;
}

.nav__item {
    padding: 0 18px;
}

.nav__link {
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
}

.nav__link:hover {
    color: #000958;
    text-shadow: 0.4px 0.4px #000958, -0.4px -0.4px #000958;
}

.hero-action__btn {
    height: 50px;
    width: 117px;
    border: 1px solid #000958;
    color: #000958;
    font-size: 1.4rem;
}

.hero-content {
    margin-top: 100px;
    justify-content: space-between;
}

.hero-media {
    position: relative;
    z-index: 1;
    width: 47%;
    max-width: 100%;
    padding-bottom: 94px;
}

.hero-media__wrap {
    width: 388px;
    height: 488px;
    border-radius: 16px;
    background: #fe997b;
    overflow: hidden;
    border: 3px solid #fff;
}

.hero-media__wrap:last-of-type {
    position: absolute;
    bottom: 36px;
    right: 0;
    width: 186px;
    height: 244px;
    border-radius: 16px;
    background: #faa7ad;
}

.hero-media__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-top: 24px;
}

.hero-media__wrap:first-child .hero-media__img {
    rotate: 5.278deg;
}

.hero-info {
    width: 44%;
}

.hero-info__heading {
    color: #000958;
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15;
}

.hero-info__desc {
    width: 391px;
}

.hero-cta {
    margin-top: 38px;
}

.hero-cta__btn {
    height: 60px;
    background: var(--primary-color);
    color: #fff;
}

.hero-cta__icon {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: var(--primary-color);
    background: #fff;
}

.hero-cta__link {
    margin-left: 24px;
    color: #000958;
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration-line: underline;
}

.hero-cta__link:hover {
    opacity: 0.8;
}

.hero-aside {
    position: absolute;
    bottom: 0;
    right: 171px;
    width: 250px;
    padding: 18px 14px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero-aside-item {
    display: flex;
    align-items: center;
    column-gap: 9px;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 20px;
}

.hero-aside-item + .hero-aside-item {
    padding-top: 20px;
}

.hero-aside-item:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.hero-aside-item__wrap {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: #fec23f;
    overflow: hidden;
}

.hero-aside-item:last-child .hero-aside-item__wrap {
    background: #6597c2;
}

.hero-aside-item__img {
    width: 100%;
    object-fit: contain;
}

.hero-aside-item__title {
    color: #181e52;
    font-size: 1.4rem;
    font-weight: 600;
}

.hero-aside-item__percent {
    margin-top: 7px;
    width: 118px;
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
}

.hero-aside-item__percent--second {
    margin-top: 6px;
    width: 39px;
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
}

.hero-decor {
    position: absolute;
    z-index: -1;
}

.hero-decor__icon--bottom {
    left: -58px;
    bottom: 104px;
}

.hero-decor__icon--top {
    top: 16px;
    right: 124px;
}

/* About */

.about {
    padding: 53px 0;
    background: #fffaf6;
}

.about__inner {
    justify-content: space-between;
}

.about-content {
    width: 40%;
}

.about-content__form {
    margin-top: 54px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 34px;
}

.about-content__form label {
    display: flex;
    align-items: center;
    position: relative;
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
    white-space: nowrap;
}

.about-content__form [type="checkbox"] {
    display: none;
}

.about-content__form label::before {
    content: "";
    display: block;
    margin-right: 10px;
    width: 24px;
    height: 24px;
    background: var(--primary-color);
    border-radius: 4px;
}

.about-content__form label::after {
    content: "";
    display: none;
    position: absolute;
    top: 4px;
    left: 9px;
    width: 5px;
    height: 10px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    rotate: 45deg;
}

.about-content__form [type="checkbox"]:checked + label::after {
    display: block;
}

.about-media {
    position: relative;
    width: 42%;
    border-radius: 16px;
}

.about-media::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
}

.about-media__wrap {
    width: 450px;
    height: 560px;
    overflow: hidden;
}

.about-media__img {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-aside {
    position: absolute;
    top: 157px;
    left: -92px;
    width: 136px;
    padding: 36px 26px 29px;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}

.about-aside__qty {
    color: #fff;
    text-align: center;
    font-family: "Sora", sans-serif;
    font-size: 4.2rem;
    font-weight: 700;
}

.about-aside__desc {
    margin-top: 14px;
    color: #c6f4f9;
    text-align: center;
    font-family: Poppins;
    font-size: 1.4rem;
    line-height: 1.42;
}

.about-aside__decor {
    position: absolute;
    top: -40px;
    right: -34px;
}

.about-media__decor {
    position: absolute;
    top: 149px;
    right: -50px;
}

/* features */
.features {
    padding: 77px 0 130px;
    background: #fffaf6;
}

.features__inner {
    justify-content: space-between;
}

.features-media {
    padding: 16px 0 55px;
    position: relative;
}

.features-media__img {
    display: block;
    width: 458px;
    height: 500px;
    object-fit: cover;
    border-radius: 18px;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    box-shadow: 0px 3px 63px 0px rgba(153, 183, 208, 0.59);
    border: 1px solid #fff;
}

.features__info {
    width: 47.6%;
}

.features__desc {
    width: 511px;
}

.features__list {
    margin-top: 38px;
    display: flex;
    justify-content: space-between;
}

.features-item {
    flex: 1;
}

.features-item__header {
    display: flex;
    align-items: center;
    position: relative;
    column-gap: 10px;
    padding: 14px 0;
    border-bottom: 2px solid #ffeee7;
}

.features-item__header::after {
    content: "";
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 95px;
    height: 2px;
    background: var(--primary-color);
}

.features-item__header:hover::after {
    display: block;
}

.features-item__icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.features-item:first-child .features-item__title {
    margin-left: -10px;
}

.features-item__title {
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 600;
}

.features-item__body {
    margin-top: 36px;
}

.features-item__desc {
    width: 390px;
    color: #656689;
    font-size: 1.4rem;
    line-height: 1.71;
}

.features-item__more {
    display: inline-block;
    margin-top: 32px;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 500;
}

.features-item__more:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}

.features-decor {
    position: absolute;
    z-index: 1;
}

.features-decor__wavy--01 {
    top: 12px;
    right: 63px;
}

.features-decor__wavy--02 {
    top: -16px;
    right: 13px;
}

.features-decor__wavy--03 {
    top: 33px;
    right: -21px;
}

.features-decor__triangle--01 {
    bottom: 150px;
    right: 19px;
}

.features-decor__triangle--02 {
    top: 284px;
    right: -32px;
}

.features-decor__circle {
    bottom: 0;
    right: -42px;
}

/* services */

.services {
    background: #fff6ed;
    padding-top: 58px;
}

.services__desc,
.services__heading {
    text-align: center;
}

.services__desc {
    margin-top: 0;
}

.services__heading {
    margin-top: 15px;
}

.services__inner {
    margin-top: 71px;
    display: grid;
    grid-template-columns: 0.2fr 0.6fr 0.2fr;
    justify-content: space-between;
    padding-bottom: 148px;
}

.services-item {
    margin-top: 24px;
    padding: 30px 22px 28px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #fff;
}

.services-item:first-child {
    margin-top: 0;
}

.services-item__title {
    display: flex;
    column-gap: 10px;
    align-items: center;
    color: #000958;
    font-size: 2.2rem;
    font-weight: 600;
}

.services-item__title::before {
    content: "";
    display: inline-block;
    width: 2px;
    height: 22px;
    background: linear-gradient(90deg, #ff5b2e 0.39%, #ffa187 100.29%);
    border-radius: 99px;
}

.services-item__desc {
    margin-top: 18px;
    width: 244px;
    color: #656689;
    font-size: 1.4rem;
    line-height: 1.71;
}

.services-item__more {
    margin-top: 24px;
    display: flex;
    align-items: center;
    column-gap: 6px;
    color: #34396a;
    font-family: "Sora", sans-serif;
    font-size: 1.2rem;
}

.services-item__more:hover {
    color: var(--primary-color);
}

.services-media {
    position: relative;
    width: 447px;
    height: 621px;
}

.services-media::after {
    content: "";
    position: absolute;
    left: 22px;
    bottom: 10px;
    width: 410px;
    height: 350px;
    border-radius: 10px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}

.services-media__img {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-bottom: 45px;
}

.services-media__btn {
    margin: 0 auto;
    width: 214px;
}

.members {
    padding: 130px 0;
    background: #fffaf5;
}

.members__desc,
.members__heading {
    text-align: center;
}

.members__heading {
    margin-top: 15px;
}

.members__list {
    margin-top: 78px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 78px;
}

.members-item__thumb {
    position: relative;
    height: 266px;
    border-radius: 129.5px;
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
}

.members-item:nth-child(2) .members-item__thumb {
    background: #ff997e;
}
.members-item:nth-child(3) .members-item__thumb {
    background: #fabf3e;
}
.members-item:last-child .members-item__thumb {
    background: #5bd6e2;
}

.members-item__img {
    position: absolute;
    bottom: 0;
    object-fit: cover;
    z-index: 1;
    width: 100%;
    height: 299px;
    border-radius: 129.5px;
}

.members-item__decor {
    position: absolute;
    top: 0;
    left: -20px;
}

.members-item__decor--bottom {
    top: auto;
    bottom: 0;
}

.members-item__job {
    margin-top: 29px;
    color: #656689;
    text-align: center;
    font-size: 1.4rem;
}

.members-item__name {
    margin-top: 14px;
    color: #000958;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 600;
}

.members__more {
    margin: 48px auto 0;
    width: 193px;
}

/* Buy */
.buy {
    background: #fff6ed;
    padding: 86px 0;
}

.buy__heading,
.buy__desc {
    text-align: center;
    width: 709px;
    margin-left: auto;
    margin-right: auto;
}

.buy-quantity {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 38px auto 56px;
    width: 276px;
    border-radius: 999px;
    border: 1px solid rgba(255, 91, 46, 0.6);
}

.buy-quantity__option {
    padding: 20px 44px;
    line-height: 1;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    border: none;
    background: none;
}

.buy-quantity__option--active {
    color: #fff;
    background: var(--primary-color);
    border-radius: 999px;
}

.buy__decor {
    position: absolute;
    top: -10px;
    right: -115px;
}

.buy__list {
    display: grid;
    grid-template-columns: repeat(3, 0.28fr);
    column-gap: 44px;
    justify-content: center;
}

.buy-item {
    padding: 30px 28px 43px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 20px 44px 0px rgba(195, 108, 22, 0.06);
    border-radius: 20px;
}

.buy-item__type {
    color: var(--primary-color);
    font-size: 1.2rem;
}

.buy-item__title {
    margin-top: 8px;
    color: #3f4065;
    font-size: 1.8rem;
    font-weight: 600;
}

.buy-item__price {
    display: block;
    margin-top: 24px;
    color: #000958;
    font-family: "Sora", sans-serif;
    font-size: 3.3rem;
    font-weight: 700;
}

.buy-item__btn {
    margin-top: 22px;
    height: 44px;
    width: 100%;
    border: 1px solid rgba(255, 91, 46, 0.6);
}

.buy-item__btn:hover {
    color: #fff;
    background: var(--primary-color);
    opacity: 1;
}

.buy-feature__list {
    margin-top: 24px;
}

.buy-feature__item {
    margin-top: 18px;
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.buy-feature__item-icon {
    display: inline-block;
    width: 6px;
    height: 12px;
    border-bottom: 1px solid var(--primary-color);
    border-right: 1px solid var(--primary-color);
    rotate: 45deg;
}

.buy-feature__item-icon--disable {
    opacity: 0.4;
}

.buy-feature__item-text {
    color: #656689;
    font-size: 1.4rem;
}

/* reviews */

.reviews {
    background: #fffaf5;
    padding-top: 53px;
}

.reviews__inner {
    margin-top: 77px;
    justify-content: space-between;
}

.reviews__arrow-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 54px;
    height: 54px;
    border: 1px solid #ffd1c4;
    border-radius: 50%;
    color: var(--primary-color);
}

.reviews__arrow-icon:hover {
    color: #fff;
    background: var(--primary-color);
    cursor: pointer;
    box-shadow: 0 0 15px rgb(255, 91, 46, 0.4);
}

.reviews__thumb {
    position: relative;
    flex-shrink: 0;
    width: 274px;
    height: 350px;
    border-radius: 137px;
    background: #ffda54;
}

.reviews__img {
    position: absolute;
    bottom: 0;
    width: 274px;
    height: 427px;
    object-fit: cover;
    border-radius: 137px;
}

.reviews__desc {
    width: 553px;
    color: #000;
    font-size: 1.8rem;
    line-height: 1.55;
}

.reviews__author {
    display: flex;
    align-items: center;
    margin-top: 34px;
}

.reviews__author::before {
    content: "";
    display: inline-block;
    margin-right: 8px;
    width: 20px;
    height: 2px;
    background: #000;
    border-radius: 99px;
}

.reviews__dots {
    margin-top: 56px;
    justify-content: center;
}

/* Blog */

.blog {
    padding: 130px 0;
    background: #fffaf5;
}

.blog__header {
    justify-content: space-between;
}

.blog__desc {
    width: 350px;
    margin-bottom: 24px;
    color: #656689;
    font-size: 1.6rem;
    line-height: 1.87;
}

.blog__list {
    margin-top: 54px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 48px;
}

.blog-item__thumb {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 358px;
    height: 362px;
    border-radius: 24px;
    background: #90ccff;
}

.blog-item__thumb--orange {
    background: #ff997e;
}

.blog-item__thumb--green {
    background: #5bd6e2;
}

.blog-item__date {
    margin: 0 0 24px 36px;
    color: #fff;
    font-family: "Sora", sans-serif;
    font-size: 1.4rem;
}

.blog-item__img {
    margin-left: auto;
    width: 322px;
    height: 296px;
    object-fit: cover;
}

.blog-item__title {
    margin-top: 28px;
    color: #000958;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.54;
}

.blog-item__desc {
    margin-top: 16px;
    color: #656689;
    font-size: 1.4rem;
    line-height: 1.71;
}

/* footer */

.footer {
    padding-top: 52px;
    background: #fffaf5;
    position: relative;
    z-index: 1;
}

.footer__inner {
    display: grid;
    grid-template-columns: 0.41fr repeat(2, 0.2fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 52px 0 0;
    row-gap: 58px;
    justify-content: space-between;
}

.footer__left {
    grid-row: 1 / 3;
}

.footer__left::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background: #fff6ed;
    height: 100%;
    width: 42.7%;
}

.footer__logo {
    display: block;
}

.footer-form {
    display: inline-block;
    margin: 35px 0 68px;
    position: relative;
}

.footer-form__input {
    padding: 16px 22px;
    min-width: 268px;
    height: 46px;
    border-radius: 23px;
    border: 1px solid rgba(255, 91, 46, 0.25);
    opacity: 0.6;
    background: #fff;
}

.footer-form__input::placeholder {
    color: #656689;
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
}

.footer-form__submit {
    position: absolute;
    right: 0;
    top: 0;
    width: 45px;
    height: 46px;
    border: none;
    background: var(--primary-color);
    color: #fff;
    border-radius: 50%;
}
.footer-social__link:hover,
.footer-form__submit:hover {
    opacity: 0.9;
}

.footer__title {
    color: #000958;
    font-size: 1.8rem;
    font-weight: 600;
}

.footer-social {
    margin-top: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.footer-social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background: #fff;
    border-radius: 50%;
}

.footer__list {
    margin-top: 14px;
}

.footer-item {
    margin-top: 12px;
}

.footer-item__link {
    color: #656689;
    font-size: 1.4rem;
}

.footer-item__link:hover {
    color: var(--primary-color);
}

.copyright {
    padding-bottom: 48px;
    text-align: center;
    color: #656689;
    font-size: 1.2rem;
    opacity: 0.5;
}
